* {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: #1d3557;
  overflow: hidden;
  width: 100%;
  padding: 20px 40px;
}

h2 {
  text-align: center;
  margin-bottom: 35px;
}

#header-title {
  display: flex;
  align-items: center;
}

#title {
  color: white;
  font-family: monospace;
  visibility: hidden;
}

#real-title {
  font-family: Comforter, monospace;
  font-size: 40pt;
  font-style: italic;
  color: white;
}

#align-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#clear-buttons {
  clear: both;
  width: 65%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.top-buttons {
  clear: both;
  font-family: monospace;
  font-size: 14pt;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 12px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-bottom: #e63946 solid 3px;
}

.top-buttons:hover {
  background-color: #a8dadc;
  border-radius: 3px;
  cursor: pointer;
}

#main {
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #457b9d;
}

#wrapper {
  background-color: #457b9d;
  width: 70%;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

#instructions {
  clear: both;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 10px;
  max-width: 300px;
  padding: 15px;
  text-align: justify;
}

#list1 {
  margin-left: -25px;
}

#wrap-palette {
  clear: both;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
  color: white;
}

#pixel-board {
  max-width: 90%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
}

#color-palette {

  /* solução de alinhamento encontrada aqui:
  https://www.webcis.com.br/centralizar-divs-na-horizontal-e-vertical-com-css.html */
  clear: both;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-bottom: 30px;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: green;
}

#color3 {
  background-color: yellow;
}

#color4 {
  background-color: red;
}

.color {
  border: solid 1px black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: 5px;
  cursor: pointer;
}

#inputWrap {
  clear: both;
  width: 30%;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

#board-size {
  width: 80px;
  font-size: 14pt;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

#generate-board {
  border-radius: 5px;
  cursor: pointer;
}

.line {
  display: flex;
  justify-content: center;
}

.pixel {
  width: 40px;
  height: 40px;
  margin: 0;
  display: flex;
  border: solid 1px black;
  border-radius: 50%;
  cursor: pointer;
}
